@mixin p{
	font-size: 20px;
	line-height: 1.6;
}

@mixin p-big{
	font-size: 18px;
	line-height: 1.555;
}

@mixin p-small{
	font-size: 16px;
	line-height: 1.625;
}

@mixin h1{
	font-size: 56px;
	line-height: 1.07;
	font-weight: 600;
}

@mixin h2{
	font-size: 32px;
	line-height: 1.875;
	font-weight: 600;
}

@mixin h3{
	font-size: 40px;
	line-height: 1.3;
	font-weight: 600;
}

@mixin h4{
	font-weight: 600;
	font-size: 24px;
	line-height: 1.25;
}

@mixin small-caption{
	font-size: 18px;
	line-height: 1.666;
	text-transform: uppercase;
	font-weight: 600;
}

body{
	font-family: $main-font;
	color: $text-color;

	@include p;
}

.tpg{
	h2, h3, h4, h5, h6{
		margin-top: 33px;
	}

	h2{
		@include h2;
	}

	h3, h4{
		font-size: 24px;
		line-height: 1.5;
		color: #3a3a3a;
		font-weight: 500;
		margin-bottom: 22px;

		&:last-child{
			margin-bottom: 0;
		}

		strong{
			font-size: 32px;
			font-family: inherit;
		}
	}

	p{
		@include p-small;
		margin-bottom: 1.625em;

		&:last-child{
			margin-bottom: 0;
		}
	}

	ul{
		margin-bottom: 1.625em;

		&:last-child{
			margin-bottom: 0;
		}

		li{
			&:before{
				content: '';
				display: inline-block;
				width: 4px;
				height: 4px;
				background: $primary;
				border-radius: 50%;
				margin-right: 6px;
			}
		}
	}
}

.section-caption{
	
}