.btn{
	--btn-bg: #{$primary};
	--btn-hover-bg: #{darken($primary, 10%)};
	--btn-color: #fff;

	text-align: center;
	padding: 19px 37px;
	min-height: 67px;

	border: 1px solid var(--btn-bg);
	border-radius: $r;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	transition: all $t;
	cursor: pointer;
	appearance: none;
	white-space: nowrap;

	background: var(--btn-bg);
	color: var(--btn-color);

	position: relative;

	font-family: $second-font;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 600;

	// .btn-icon{
	// 	width: 20px;
	// 	height: 20px;
	// 	font-size: 20px;
	// 	fill: currentcolor;
	// 	color: currentcolor;
	// 	flex: none;
	// 	display: block;
	// 	transform: translateY(1px);

	// 	&:first-child{
	// 		margin-right: 12px;
	// 	}

	// 	&:last-child{
	// 		margin-left: 12px;
	// 	}
	// }

	&:hover,
	&:focus{
		outline: none;
		background: var(--btn-hover-bg);
		border-color: var(--btn-hover-bg);
	}

	&.btn-small{
		padding: 12px 30px;
		min-height: 50px;
	}

	&.btn-white{
		--btn-bg: #fff;
		--btn-hover-bg: #{ rgba(#fff, .7) };
		--btn-color: #{ $primary };

		&:hover,
		&:focus{
			background: var(--btn-hover-bg);
			border-color: #fff;
		}
	}

	&.btn-stroke{
		--btn-bg: transparent;
		--btn-color: #{ $primary };
		--btn-hover-bg: #{ $primary };
		border-color: var(--btn-color);

		&:hover,
		&:focus{
			--btn-color: #fff;
			border-color: var(--btn-hover-bg);
		}

		&.btn-white{
			--btn-color: #fff;
			--btn-hover-bg: #fff;

			&:hover,
			&:focus{
				--btn-color: #{ $primary };
			}
		}
	}

	&.btn-transparent{
		--btn-bg: transparent;
		--btn-color: #{ $primary };
		--btn-hover-bg: transparent;
		padding-left: 24px;
		padding-right: 24px;

		&:hover,
		&:focus{
			--btn-color: #{ lighten($primary, 10%) };
		}
	}

	// &:active{
	// 	transform: translateY(2px);
	// }
}