.addons-section{
	padding: 32px 0 64px;

	.section-caption{
		margin-bottom: 32px;
	}
}

.addons-slider-wrapper{
	@include product-card-visibility;

	.slider-nav{
		margin-top: 48px;
	}
}

.addons-slider{
	width: calc(100% + 12px * 2);
	margin-left: -12px;
	margin-right: -12px;

	.slick-slide{
		padding: 0 12px;

		> div:not(.product-card){
			display: flex;
			padding: 16px 0;

			.slide{
				display: flex !important;
			}
		}
	}
}