.pricing-section{
	padding: 64px 0;

	.section-caption{
		margin-bottom: 32px;
	}

	.look-for-more{
		margin-bottom: calc(-64px - 76px);
		background: #1F242E;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 40px 60px;
		border-radius: 10px;
		position: relative;
		z-index: 2;
		margin-top: 80px;

		.section-caption{
			margin-bottom: 0;
		}
	}

	&.with-bg{
		background: var(--primary);
		color: #fff;
	}

	@media screen and (max-width: 991px){
		.look-for-more{
			flex-direction: column;
			text-align: center;

			.section-caption{
				margin-bottom: 24px;
			}
		}
	}

	@media screen and (max-width: 767px){
		.look-for-more{
			padding: 32px;
		}
	}
}

.quantity-select-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 48px;

	.block-caption{
		font-size: 16px;
		line-height: 2.5;
		color: var(--primary);
		font-weight: 600;
		margin-bottom: 16px;
		text-align: center;
		font-family: var(--second-font);
	}

	@media screen and (max-width: 991px){
		margin-bottom: 64px;
	}

	@media screen and (max-width: 767px){
		.block-caption{
			line-height: 1.66;
		}
	}
}

.plans-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;

	@media screen and (max-width: 991px){
		grid-gap: 16px;
	}

	@media screen and (max-width: 767px){
		grid-template-columns: 1fr;
		grid-gap: 32px;
	}
}

.plan-card{
	padding: 56px 40px 30px;
	background: #1F1D2B;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	color: #B1B1B5;

	.card-header{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-bottom: 29px;
		border-bottom: 1px solid #B1B1B5;
	}

	.card-price{
		font-size: 26px;
		line-height: 1.2;
		margin-bottom: 15px;
		background: linear-gradient(180deg, #5A82F6 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(91.34deg, #2698EA 11.48%, #FFB176 53.97%, #ED5158 100.98%);
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		.theme-2 &,
		.theme-3 &{
			background-clip: unset;
			background: unset;
			text-fill-color: unset;
			-webkit-background-clip: unset;
			-webkit-text-fill-color: unset;
			color: #fff;
			font-weight: 600;
		}
	}

	.card-caption{
		@include small-caption;
		margin-bottom: 16px;
		color: #fff;
		text-align: center;
	}

	.card-description{
		font-size: 14px;
		line-height: 1.5;
		text-align: center;
	}

	.card-content{
		padding: 16px 0;
		flex: auto;
	}

	.card-content-caption{
		font-size: 16px;
		line-height: 2.5;
		color: #F3F4F8;
		margin-bottom: 8px;
		font-weight: 400;
	}

	.card-features{
		display: grid;
		grid-gap: 13px;
		font-size: 13px;
		line-height: 1.538;
		color: #B1B1B5;
		font-weight: 500;

		li{
			position: relative;
			padding-left: 35px;

			&:before{
				content: '';
				display: block;
				width: 25px;
				height: 25px;
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cpath d='m19.64 7.14-9.82 9.82-4.46-4.46' stroke='%2300D764' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center center / contain;
				position: absolute;
				left: 0;
				top: -2px;
			}
		}
	}

	.card-footer{
		margin-top: 54px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.btn{
			width: 100%;
		}

		.text-link{
			margin-top: 24px;

			&:hover,
			&:focus{
				color: #fff;
			}
		}
	}

	.theme-2 &{
		background: #fff;
		box-shadow: 8px 8px 24px rgba(176, 183, 195, 0.22);

		.card-header{
			border-bottom-color: #edeff5
		}

		.card-price{
			color: var(--primary);
		}

		.card-caption,
		.card-content-caption{
			color: var(--text-dark);
		}

		.card-description{
			color: var(--text-color);
		}
	}

	@media screen and (max-width: 1199px){
		padding-left: 24px;
		padding-right: 24px;
	}

	@media screen and (max-width: 991px){
		padding: 32px 16px 24px;

		.card-footer{
			margin-top: 32px;
		}
	}

	@media screen and (max-width: 767px){
		padding: 48px 32px 24px;
	}
}