.related-products-section{
	padding: 64px 0;
	background: var(--dark);
	color: #fff;
}

.related-products-slider{
	width: calc(100% + 12px * 2);
	margin-left: -12px;
	margin-right: -12px;
	
	.slick-slide{
		padding: 0 12px;
	}
}

.related-product-card{
	display: block;
	color: inherit;

	.card-image{
		position: relative;
		margin-bottom: 16px;
		border-radius: 16px;
		overflow: hidden;

		&:before{
			content: '';
			display: block;
			padding-top: 91.6%;
		}

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center center;
			transition: all var(--t);
		}
	}

	.card-caption{
		font-size: 16px;
		line-height: 1.666;
		margin-bottom: 8px;
		color: #fff;
		font-weight: 600;
		font-family: var(--second-font);
	}

	.card-price{
		color: #fff;
		font-weight: 600;
	}

	&:hover,
	&:focus{
		.card-image{
			img{
				transform: scale(1.04);
			}
		}
	}
}